.list-wrapper {
  background-color: #e3cfab;
  padding: 3rem 0;
  .input-wrapper {
    h2 {
      text-transform: uppercase;
      font-family: "Alegreya", serif;
      color: $nav-bg-color;
      font-weight: bold;
      padding-bottom: 1rem;
    }
    .input-field {
      width: 80%;
      margin: auto;
      border: 1px solid rgb(173, 166, 166);
      margin-bottom: 2rem;
      color: $modal-text-color;
      font-size: 1rem;
      font-weight: 600;
      &:focus {
        box-shadow: none;
      }
      &::placeholder {
        opacity: 0.4;
      }
    }
    hr {
      border: 1px solid #fff;
    }
  }
  p {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Alegreya", serif;
    color: $nav-bg-color;
    font-weight: 700;
  }
  li {
    width: 50%;
    list-style-type: none;
    color: $modal-text-color;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: $icon-color;
    }
    i {
      color: $icon-color;
      margin-right: 0.5rem;
      font-size: 11px;
    }
  }
}
