.modal-style {
  display: "none";
  font-family: $alegreya;
  font-size: 1.2rem;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    color: $nav-bg-color;
    background-color: #e3cfab;
    margin: 20% auto;
    width: 70%;
    animation-name: modal;
    animation-duration: 0.8s;
    .header-modal {
      .close-modal {
        font-size: 2rem;
        float: right;
        padding: 0 1rem;
        color: $white-color;
        &:hover {
          color: #000;
          font-weight: 700;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .header-content {
        padding-top: 3rem;
        padding-left: 1rem;
        .header-title {
          margin-left: 6px;
        }
        .header-name {
          font-size: 1.5rem;
          margin-right: -1rem;
        }
      }
    }
    .body-modal {
      padding: 0.8rem 1.3rem;
      .date-text,
      .description-text,
      .food-pairing-text {
        color: $modal-text-color;
      }
    }
    .footer-modal {
      padding: 1rem;
      .result-text,
      .tips-text {
        color: $modal-text-color;
      }
    }
    hr {
      border: 1px solid $white-color;
    }
  }
  @keyframes modal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
