.pagination{
    margin: 0.7rem 2.5rem;
    color: $modal-text-color;
    .page{
        padding:1.2rem;
        border: none;
        background-color: $hover-color;  
        color: $modal-text-color;
        font-size: 1rem;
        font-weight: 600;
        &:disabled{
            font-weight:400;
        }
    }
    .current{
        padding: 10px 20px;
        border-radius: 50%;
        border: 5px solid $card-botttom-color;
        font-size: 20px;
        font-weight: 600;
    }
}