.price-wrapper {
  .price-slider {
    padding-left: 2rem;
    padding-bottom: 2.5rem;
    width: 16rem;
    .range-title {
      @include text-font(uppercase, $alegreya);
      color: $nav-bg-color;
      font-size: 1.2rem;
      padding-left: 10px;
    }
    .min-max-value {
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: 200px;
      margin: 0 auto;
      padding-bottom: 1rem;
      .min {
        float: left;
      }
      .max {
        float: right;
      }
      .position-value {
        font-size: 1.1rem;
        font-weight: 600;
        float: left;
        margin-right: 5px;
        color: $modal-text-color;
        line-height: 1.6;
      }
      .number-value {
        font-size: 1.1rem;
        font-weight: 600;
        color: $modal-text-color;
        text-align: center;
        display: inline-block;
      }
    }
    .min-max-range {
      padding-top: 1rem;
    }
    .range {
      -webkit-appearance: none;
      appearance: none;
      width: 50%;
      height: 5px;
      max-width: 400px;
      background-color: $icon-color;
      margin: 0;
      padding: 0;
      outline: none;
      float: left;
    }
    .range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: $nav-bg-color;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  hr {
    border: 1px solid $white-color;
  }
}
