body{
    background: $nav-bg-color;
  }
  body::before{
    display:block;
    content: "";
   
  }
.navbar {
  background: $nav-bg-color;

  .navbar-items {
    margin-right: 18rem;
    .nav-item {
      font-size: 1rem;
      font-weight: 700;

      .nav-link {
        color: #f4e8ce;
      }
    }
  }

  @media (min-width: 768px) {
    .logo {
      margin-left: 17rem;
    }
  }
}
