
  body::before{
    display:block;
    content: "";
    height: 7rem;
  }
  
  .header {
    background: #BF431F;
  
  
  
    .nav-item {
      font-size: 1rem;
      font-weight: 600;
      
      
    }
    .navbar-items{
      margin-right: 15rem;
    }
    .nav-link{
        color: #F4E8CE;
    }
  }