.breadcrumb {
  margin-top: 6rem;
  background-color: #e3cfab;
  margin-bottom: 0;
  .breadcrumb-wrapper {
    height: 4rem;
  }
  .shop {
    font-family:$alegreya;
    font-size: 1.3em;
    color: $card-botttom-color;
    font-weight: 700;
  }
  .current-page {
    font-family: "Fira Sans", sans-serif;
    color: #44322c;
    font-size: 1rem;
    i {
      color: $card-botttom-color;
      margin: 0 3px;
     
    }
  }
}
